<?xml version="1.0" encoding="UTF-8" ?>
<entityset>
 <entity name="COMPUTER001">
  <template code="computer"/>
  <attribute code="computer_name">
   <value>COMPUTER001</value>
  </attribute>
  <attribute code="scanning_date">
   <value>2004-05-21 14:22:27</value>
  </attribute>
  <attribute code="ram">
   <value>1023</value>
   <footer>MB</footer>
  </attribute>
  <attribute code="software">
   <value>ATI Display Driver</value>
   <value>Java Web Start</value>
  </attribute>
  <attribute code="host_name">
   <value>computer001</value>
  </attribute>
  <attribute code="hard_disk">
   <value>Maxtor 6E040L0 (atapi)</value>
  </attribute>
  <attribute code="drive">
   <value>C:\ 30.87 GB / 38.28 GB</value>
  </attribute>
  <attribute code="cdrom">
   <value>HL-DT-ST DVD-ROM GDR8161B (atapi)</value>
  </attribute>
  <attribute code="drive_capacity">
   <value>38.28</value>
   <footer>GB</footer>
  </attribute>
  <attribute code="processor_speed">
   <value>2407</value>
   <footer>MHz</footer>
  </attribute>
  <attribute code="last_logged_user">
   <value>Administrator</value>
  </attribute>
  <note>
   <name>Agreement</name>
   <text>Node founded by discovery.</text>
  </note>
 </entity>
</entityset>
