td.lista_description, td.lista_value, div.kentta, div.kentta2
{
	background-color: #e9fbf7;
}

td.attribuutti_td, table.lista_attribuutti
{
	background-color: #8db7ae;
}

div.kentta, div.kentta2
{
	font-size: 13px;
	border: 1px dashed black;
	margin-top: 10px;
}

div.kentta
{
	padding: 0px 10px 10px 10px;
}

div.kentta2
{
	padding: 0px 10px 5px 10px;
}

table.attribuutti, table.lista_attribuutti
{
	width: 100%;
}

td.attribuutti_td
{
	margin: 5px 5px 5px 5px;
	border: 1px dotted black;
	padding: 7px;
}

td.lista_description
{
	width: 30%;
}

table.value
{
	padding: 0px;
	margin: 0px;
}

